/pendu-task7-8/main
/.idea/
/pendu-task7-8/.idea/
/pendu-task7-8/cmake-build-debug/
/pendu-task7-8/CMakeLists.txt
/pendu-task7-8/pendu
/task1/hw
/task2/test
/task2/var1
/task2/test.c
/task3/func1
/task3/func3
/task3/main
/task3/.idea/
/task4/tests
/task4/main
/task5/main
/task5/tests
